body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f4f4f4;
  color: #333333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  margin: auto;
}

/* Common styles  */

.card {
  background-color: white;
  box-shadow: 0px 0px 5px #00000012;
  border-radius: 15px;
  padding: 30px;
}

button {
  float: right;
  display: flex;
  justify-content: center;
  min-width: 31%;
  margin-top: 20px;
  padding: 8px;
  border-radius: 6px;
  border: none;
  font-weight: 500;
  background-color: #f63f3f;
  color: white;
}

.section_header > p {
  font-weight: 600;
  font-size: 0.8em;
  margin: 10px 0 5px 0;
}

.section_header > h1 {
  font-size: 1.5em;
}

.section_header > h1:first-child {
  font-weight: 500;
}

.section_header > h1 {
  margin: 0;
  font-weight: 700;
}

/* Form */
.form {
  display: flex;
  flex-direction: column;
}

.form > .form_label {
  margin: 10px 0 5px 0;
  font-size: 0.8em;
  font-weight: 700;
}

.form > .form_input {
  border-radius: 5px;
  border: 2px solid rgba(136, 136, 136, 0.226);
  padding: 7px;
}
